* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    max-height: 850px;
    background-color: #FFFDD0; /* Cream background */
    color: #000;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-rows: auto auto 1fr; /* 3 Main Rows */
    overflow: hidden;
}

/* --- Row 1: Top Nav --- */
.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
    gap: 15px;
}

.nav-btn {
    flex: 1;
    background-color: #573737;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 0;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* --- Row 2: Tuner Nav --- */
.tuner-nav {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.note-display-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 20px;
}

.accidental {
    font-size: 1.5rem;
    color: #000;
    opacity: 0.2; /* Dims when not active */
    transition: opacity 0.2s;
}

.accidental.active {
    opacity: 1;
    font-weight: bold;
}

.note-center {
    text-align: center;
}

#noteDisplay {
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    color: #000;
}

#frequencyDisplay {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 5px;
    color: #000;
}

.meter-wrapper {
    height: 100px;
    width: 100%;
    padding: 0 10px;
}

#meterCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* --- Row 3: Guitar Section --- */
.guitar-section {
    display: grid;
    grid-template-columns: 80px 1fr 80px; /* 3 Columns */
    padding: 0 10px 20px 10px;
    align-items: end;
}

.strings-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    padding-bottom: 40px;
    gap: 30px;
}

.left-strings { align-items: flex-end; }
.right-strings { align-items: flex-start; }

.string-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #573737;
    color: #fff;
    border: 3px solid #573737; /* Base border matches background */
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.2s;
}

.string-btn.active {
    border-color: #000; /* Dark ring when selected */
    transform: scale(1.1);
}

.guitar-head-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.guitar-head-wrapper img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
    margin-bottom: -20px; /* Sits flush with bottom */
}